{% extends 'base.html.twig' %}

{% block title %}Liste des produits{% endblock %}
{% block main %}
    <h1>Nos produits</h1>
    <ul>
        {% for product in products %}
        <li><img src="{{ product.image }}" height="30px" alt="Logo de {{ product.name }}"> Type : {{ product.name }} | Prix au kilogramme : {{ product.pricePerKilo }}€ |
            Disponibilité : {{ product.available ? 'Oui' : 'Non' }}</li>
        {% endfor %}
    </ul>
{% endblock %}