{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block main %}
    <h1 class="centred">MesBonsLégumes, maraicher depuis 1973</h1>
    <h2>Nous retrouver</h2>
    <ul>
        <li>Adresse : {{ address }}</li>
        <li>Téléphone : {{ phone }}</li>
        <li>Horaires : {{ schedule }}</li>
    </ul>

    <a href={{ path('products') }}><button>Commander en Click & Collect</button></a>
{% endblock %}