/* -------------------- Chocolate -------------------- */

@font-face {
	font-family: 'Chocolates';
	src: url('../fonts/Chocolates/ChocolatesRegular.otf') format('opentype');
}
@font-face {
	font-family: 'Chocolates';
    font-style: italic;
	src: url('../fonts/Chocolates/ChocolatesItalic.otf') format('opentype');
}
@font-face {
	font-family: 'Chocolates';
    font-weight:600;
	src: url('../fonts/Chocolates/ChocolatesDemiBold.otf') format('opentype');
}
@font-face {
	font-family: 'Chocolates';
    font-weight: bold;
	src: url('../fonts/Chocolates/ChocolatesBold.otf') format('opentype');
}
@font-face {
	font-family: 'Chocolates';
    font-weight: bold;
    font-style: italic;
	src: url('../fonts/Chocolates/ChocolatesBoldItalic.otf') format('opentype');
}

/* -------------------- Min Sans -------------------- */

@font-face {
	font-family: 'Min-Sans';
	src: url('../fonts/MinSansVF.ttf') format('truetype');
}