/* -------------------- COMMON -------------------- */

body{
    margin: 100px 0 0 0;
    font-family: 'Min-Sans', sans-serif;
    background-color: rgb(22, 31, 30);
    color: rgb(237, 228, 154);
}
h1 {
    font-family: 'Chocolates', sans-serif;
    font-weight: bolder;
    margin-left: 10px;
}
h2 {
    font-family: 'Chocolates', sans-serif;
    font-weight: normal;
    margin-left: 10px;
    text-decoration: underline;
}
.align-right-button {
    float: right;
}
button {
    padding: 5px 5px;
    background-color: rgb(237, 228, 154);
    border:0;
    border-radius: 5px;
}
button:hover {
    transition: 0.2s;
    background-color: rgb(198, 160, 2);
    cursor:pointer;
}
a:link {
    color: rgb(237, 228, 154);
}
a:visited {
    color: rgb(237, 228, 154);
}
a:hover {
    color: rgb(198, 160, 2);
}
a span {
    text-decoration:unset;
}

.centred {
    text-align: center;
}

/*----|Buttons|----*/
.button {
    padding: 10px 15px;
    margin-right: 30px;
    background-color: rgb(237, 228, 154);
    border-radius: 20px;
    border-style: none;
    color: rgb(22, 31, 30);
}
.button:hover {
    transition: 0.2s;
    background-color: rgb(198, 160, 2);
}

/* -------------------- NAVBAR -------------------- */


.navbar {
    font-family: 'Chocolates', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background-color: rgb(60, 78, 22);
    box-shadow: 0 1px 8px #000000;
}

.navbar ul {
    display: flex;
    justify-content:space-between;
    align-items: center;
    list-style-type: none;
    margin: unset;
    padding: unset;
}
.title {
    font-weight: bolder;
    background-color: rgb(237, 228, 154);
    border-bottom-right-radius: 5px;
    padding: 20px 5%;
}
a.title.link  {
    color:rgb(22, 31, 30);
}
.title:hover{
    transition: 0.3s;
    background-color: rgb(198, 160, 2);
}
.navbar .nav-elements {
    display: flex;
    justify-content:space-between;
}
.navbar .nav-elements:first-of-type {
    font-weight: unset;
}
.navbar li .nav-elements {
    text-decoration: none;
    color:rgb(237, 228, 154);
    padding: 20px 10px;
    align-self: center;
}
.navbar li .nav-elements:hover {
    transition:0.2s;
    background-color: rgb(22, 31, 30);
}
.link {
    text-decoration: none;
}
.basket {
    padding: 10px 15px;
    margin-right: 30px;
    background-color: rgb(237, 228, 154);
    border-radius: 20px;
}
a.basket {
    text-decoration: none;
}
li a.basket {
    color: rgb(22, 31, 30);
}
.basket:hover {
    transition: 0.2s;
    background-color: rgb(198, 160, 2);
}