<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>MesBonsLégumes - {% block title %}{% endblock %}</title>
        <link rel="icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('styles/importFonts.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <nav class="navbar">
            <ul>
                <li><a href="{{ path('welcome') }}" class="title link">MesBonsLégumes</a></li>
                <li><a href="{{ path('products') }}" class="link nav-elements">Nos produits</a></li>
                <li><a href="#" class="link basket">Panier 🧺</a></li>
            </ul>
        </nav>
        {% endblock %}
        {% block main %}{% endblock %}
        {% block footer %}{% endblock %}
    </body>
</html>
